# Ignore the Python virtual environment folder
venv/
.venv/

# Ignore Python's cache folders
__pycache__/

# Ignore VS Code specific settings folder
.vscode/

# Ignore common OS files (for Mac users)
.DS_Store

# Google Cloud service account key
backend-api/service-account-key.json
